/* Reset and Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  transition: linear 0.4s;
}

/* Body Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url(../images/img5.jpg);
  padding: 50px;
  scroll-behavior: smooth;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 7px;
  flex-wrap: wrap;
}

header img {
  width: 300px;
  border: 2px solid rgba(0, 0, 0, 0.136);
  cursor: pointer;
}

/* Navigation Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 10vh;
  background-color: rgba(2, 2, 2, 0.774);
  box-shadow: 2px 2px 2px 4px rgba(253, 0, 0, 0.993);
  flex-wrap: wrap;
}

/* Original styles for the <p> elements */
nav p {
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  font-size: x-large;
  font-weight: bold;
  color: white;
  position: relative;
}

/* Underline styles */
nav p::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%; 
  height: 1px;
  background-color: rgb(71, 69, 69);
  transform-origin: bottom right;
  transform: scaleX(0); 
  transition: transform 0.7s ease;
}

/* Hover effect */
nav p:hover {
  transform: scale(1.2);
  transition: 0.7s ease;
  color: rgb(255, 0, 0);
}

/* Hover effect for the underline */
nav p:hover::before {
  transform-origin: bottom left; 
  transform: scaleX(1); 
  transition: transform 0.7s ease;
}

#burger-container {
  background-color: #333333;
}
/* Main Content Styles */
main {
  width: 95%;
  background-color: rgba(70, 70, 70, 0.411);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* About Us Styles */
.container1 {
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 10px 2px 10px 10px rgba(0, 0, 0, 0.486);
  padding: 7%;
  overflow: hidden;
  background-color: rgba(226, 226, 226, 0.907);
}

.desprenoi {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.desprenoi p {
  width: 100%;
  margin-top: 20px;
  line-height: 1.6;
  font-size: large;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  margin: 5px;
}

main {
  width: 90%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.883);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.productcontainer {
  width: 100%;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2%;
}

.products {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 100px;
  align-content: start;
  flex-wrap: wrap;
  padding: 2%;
  overflow: scroll;
  scroll-behavior: auto;
  justify-content: center;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}


.prod {
  width: max-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  background-color: white;
  position: relative;
  overflow: hidden; 
}

.prod img {
  width: 50%;
}

.prod > span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #33333398;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.prod:hover {
  transform: scale(1.05);
}

.prod:hover > span {
  opacity: 1;
  transform: translateY(0);
}

.zoomed-in {
  transform: scale(2);
  transition: transform 0.3s ease; 
}

.zoomed-in img {
  max-width: 100%;
  max-height: 100vh;
}
/* FOOTER */
footer {
  width: 80%;
  height: 10vh;
  background-color: #333333ef;
  margin-top: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: red solid 2px;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 250px;
}

footer li {
  cursor: pointer;
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
li:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
  color: rgb(252, 2, 2);
}
i, .fab {
 font-size: 30px; 
} 

  @media only screen and (min-width: 600px) {
    html {
      zoom: .8;
    }
  }

  @media only screen and (min-width: 800px) {
    html {
      zoom: .9;        
    }
  }

  @media only screen and (min-width: 1000px) {
    html {
      zoom: 1;
    }
  }